---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPostsByTag } from '@/utils/draft';

const caseStudyPosts = await getSortedFilteredPostsByTag('case-study');
const webPosts = await getSortedFilteredPostsByTag('web');
const artPosts = await getSortedFilteredPostsByTag('art');
const hiddenPosts = await getSortedFilteredPostsByTag('hidden');
// const nonTaggedPosts = await getSortedFilteredPostsByTag(true);
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />
  <main>
    <PostList posts={caseStudyPosts} title={"Case Studies"} />
    <!-- <PostList posts={webPosts} title={"Writing about CRO"} /> -->
    <!-- <PostList posts={artPosts} title={"Writing about Art"} /> -->
    <!-- <PostList posts={hiddenPosts} title={"Hidden articles"} /> -->
    <!-- <PostList posts={nonTaggedPosts} title={"Unfiltered articles"} /> -->
  </main>
</IndexLayout>
