---
import { themeConfig } from '@/config'
import FaviconThemeSwitcher from '@/components/ui/FaviconThemeSwitcher.astro'
import PageLoader from '@/components/ui/PageLoader.astro'
import { initReveals } from '@/utils/reveals';
import '@/styles/reveals.css'

const language = themeConfig.site.language || 'en-US'
const contentWidth = themeConfig.general.contentWidth
const widthValue = Math.min(parseFloat(contentWidth), 50)
const shouldUseCustomWidth = widthValue > 25
const finalWidth = shouldUseCustomWidth ? `${widthValue}rem` : '25rem'
---

<html lang={language}>
  <head>
    <slot name="head" />
  </head>
  <body
    data-centered={themeConfig.general.centeredLayout}
    style={`
      max-width: ${finalWidth};
      ${shouldUseCustomWidth ? `--content-width: ${widthValue}rem;` : ''}
    `}
  >
    <PageLoader />
    <FaviconThemeSwitcher />

    <div class="layout-wrapper">
      <slot />
    </div>

    <script>
      import { initReveals } from '@/utils/reveals';

      document.addEventListener('DOMContentLoaded', () => {
        const isFirstLoad = !document.body.classList.contains('is-navigation');

        initReveals([
          { selector: '.about h1', type: 'words' },
          { selector: '.about p', type: 'lines', stagger: 0.5 }
        ], isFirstLoad);
      });
    </script>
  </body>
</html>

<style is:global>
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7.5rem);
  }

  @media (max-width: 768px) {
    .layout-wrapper {
      min-height: calc(100vh - 5.5rem);
    }
  }
</style>
